[submodule "vendor/openmc"]
	path = vendor/openmc
	url = https://github.com/openmc-dev/openmc
	branch = develop
[submodule "vendor/nek5000"]
	path = vendor/nek5000
	url = https://github.com/enrico-dev/Nek5000.git
	branch = enrico
