<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>1000</particles>
  <batches>50</batches>
  <inactive>10</inactive>
  <source strength="1.0">
    <space type="fission">
      <parameters>-0.406 -0.406 0.0 0.406 0.406 200.0</parameters>
    </space>
  </source>
  <temperature_default>523.15</temperature_default>
  <temperature_method>interpolation</temperature_method>
  <temperature_multipole>true</temperature_multipole>
  <temperature_range>300.0 1500.0</temperature_range>
</settings>
